# Exercises - Lists

## *No loops required*

## 0 - Slicing

1. Print the first four elements of the list.
2. Print the last four elements of the list.
3. Print every second element of the list.
4. Print the whole list in reverse (using slices).

In [1]:
marvel = ["Adam Warlock", "Ben Reilly", "Carol Danvers", "Danny Rand", "Emma Frost", "Foggy Nelson", "Gwen Stacy", "Hank Pym"]

In [2]:
print(marvel[0:4])
print(marvel[-4:]) #print(marvel[4::])
print(marvel[::2])
print(marvel[::-1])

['Adam Warlock', 'Ben Reilly', 'Carol Danvers', 'Danny Rand']
['Emma Frost', 'Foggy Nelson', 'Gwen Stacy', 'Hank Pym']
['Adam Warlock', 'Carol Danvers', 'Emma Frost', 'Gwen Stacy']
['Hank Pym', 'Gwen Stacy', 'Foggy Nelson', 'Emma Frost', 'Danny Rand', 'Carol Danvers', 'Ben Reilly', 'Adam Warlock']

## 1 - Swap elements

Swap the elements at index 2 and 5. Once you managed, can you do it in a single line?

In [3]:
my_list = [2,3,13,7,11,5]

In [4]:
my_list[2], my_list[5] = my_list[5], my_list[2]
print(my_list)

[2, 3, 5, 7, 11, 13]

## 2 - Predict output

What is the output of the code below? If you guess wrong, figure out why.

In [5]:
my_list_1 = [2,4,6,8,10,11,12,14]
my_list_2 = my_list_1
my_list_1.reverse()
del my_list_1[2]
print(my_list_2[-6])

12

In [6]:
# I guessed 6
my_list_1 = [2,4,6,8,10,11,12,14]
my_list_2 = my_list_1
my_list_1.reverse()
print(my_list_2) #[14, 12, 11, 10, 8, 6, 4, 2],
#I thought it was 6 because I assumed that the reverse function is not gonna affect my_list_2 since it happened after setting it equal to 1, which at the time was [2,4,6,8,10,11,12,14]
del my_list_1[2]
print(my_list_1)
print(my_list_2) #same here
print(my_list_2[-6]) #makes sense now

[14, 12, 11, 10, 8, 6, 4, 2]
[14, 12, 10, 8, 6, 4, 2]
[14, 12, 10, 8, 6, 4, 2]
12

## 3 - Check for empty list

Check whether a list is empty without using `==` or `!=`. Print either `"List is not empty."` or `"List is empty."`.

In [7]:
empty_list = []
non_empty_list = [1, 2, 3]

In [10]:
if empty_list:
  print("this is not empty")
else:
  print("this list is empty")

this list is empty

## 4 - Range of a list

Write code that calculates the range of a list of numbers, i.e. the difference between its smallest and largest element.

In [11]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23]
max(numbers)

23

In [12]:
print(max(numbers) - min(numbers))

21

## 5 - Randomization

Using the `random` library, do the following with the list below:

1. Draw a random element from the list.
2. Randomize the order of the elements in the list.
3. Draw 5 random numbers from the number list with replacement (i.e. the same number may be drawn more than once).
3. Draw 5 random numbers from the number list without replacement (i.e. the same number may not be drawn more than once).

In [13]:
import random
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
#1
print(random.choice(numbers))

8

In [15]:
#2
random.shuffle(numbers)
numbers

[9, 0, 5, 7, 1, 4, 10, 2, 6, 8, 3]

In [16]:
#3
print(random.choices(numbers, k = 5))

[8, 0, 1, 2, 5]

In [17]:
#4
print(random.sample(numbers, 5))

[7, 8, 10, 1, 0]

## 6 - Twice but not thrice

Below are three lists of numbers. Write code that checks for a given number whether it belongs to exactly two of the lists (but not all three, just one or none).

In [18]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139]
triangle = [1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136]
fibonacci = [1, 1, 2, 3, 5, 8, 13, 21, 44, 65, 109]

number1 = 13 #2 lists, pri and fib
number2 = 3 #3 lists
number3 = 113 #1 list, pri

In [24]:
#to make it easier to test
number = int(input())

in_primes = number in primes
in_triangle = number in triangle
in_fibonacci = number in fibonacci

#lists the number appears in
count = in_primes + in_triangle + in_fibonacci

if count == 3:
    print("It's in 3 lists")
elif count == 2:
    print("It's in 2 lists")
else:
    print("It's in 1 list")

113
It's in 1 list

## 7 - A list with 'and'

Below is a list of countries. Print them in a sentence, but the last element should be preceded by an 'and', not by a comma.

*Hint: This might require the use of a string method.*

In [25]:
countries = ["Germany", "China", "Mongolia", "France", "United States", "Canada"]

In [26]:
print(countries[0] + "".join(", ") + countries[1] + "".join(", ") + countries[2] + "".join(", ") + countries[3] + "".join(", ") + countries[4] + "".join(" and ") +  countries[5])

Germany, China, Mongolia, France, United States and Canada

## *Loops required*

## 0 - Reverse order

Reverse the order of the list using a loop.

In [27]:
my_list = [19, 17, 13, 11, 7, 5, 3, 2]

In [28]:
reverse = [my_list[x] for x in range(len(my_list) -1, -1, -1)]
print(reverse)

[2, 3, 5, 7, 11, 13, 17, 19]

## 1 - Chessboard

Write code that creates a list representation of a chess board. On a chessboard, the rows are numbers from 1-8 and the columns are letters from A-H. So your list should contain 64 elements A1 to H8.

Do not use list comprehension.

In [29]:
chess_board = []

In [30]:
row = ["1", "2", "3", "4", "5", "6", "7", "8"]
column = ["A", "B", "C", "D", "E", "F", "G", "H"]

In [68]:
for i in column:
  for x in row:
    chess_board.append(i + x)

print(chess_board)

['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'G1', 'G2', 'G3', 'G4', 'G5', 'G6', 'G7', 'G8', 'H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'G1', 'G2', 'G3', 'G4', 'G5', 'G6', 'G7', 'G8', 'H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8']

## 2 - Chessboard II

Repeat the exercise from 3, only this time create a two-dimensional array, i.e. a list containing a list for each column.

Do not use list comprehension.

In [ ]:
chess_board_2D = []

[['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8'], ['B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8'], ['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8'], ['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8'], ['E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8'], ['F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8'], ['G1', 'G2', 'G3', 'G4', 'G5', 'G6', 'G7', 'G8'], ['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8']]

In [33]:
chess_board_2D = []
#row_2D = [1, 2, 3, 4, 5, 6, 7, 8]
row_2D = ["1", "2", "3", "4", "5", "6", "7", "8"]

column_2D = ["A", "B", "C", "D", "E", "F", "G", "H"]

In [35]:
chess_board_2D = []
chess_board = []
row_2D = ["1", "2", "3", "4", "5", "6", "7", "8"]
column_2D = ["A", "B", "C", "D", "E", "F", "G", "H"]

for i in column:
  for x in row:
    chess_board.append(i + x)

for i in range(0, len(chess_board), 8):
  chess_board_2D.append(chess_board[i:i+8])
print(chess_board_2D)

[['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8'], ['B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8'], ['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8'], ['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8'], ['E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8'], ['F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8'], ['G1', 'G2', 'G3', 'G4', 'G5', 'G6', 'G7', 'G8'], ['H1', 'H2', 'H3', 'H4', 'H5', 'H6', 'H7', 'H8']]

## 3 - Bubble sort

Bubble sort by hand (i.e. not using `.sort()`) the list below. Bubble sort is an algorithm that works  by examining each pair of adjacent elements from left to right and switching their positions if they the latter is smaller than the former. The algorithm then repeats this process until it can run through the entire list without finding elements that need to be swapped. Read more about bubble sort [here](https://www.productplan.com/glossary/bubble-sort/).

In [37]:
my_list = [2, 5, 17, 13, 11, 7]  # list to sort
for x in range(len(my_list) - 1):
  for i in range(len(my_list) - 1):
    if my_list[i] > my_list[i+1]:
      my_list[i], my_list[i+1] = my_list[i+1], my_list[i]

print(my_list)

[2, 5, 7, 11, 13, 17]

## 4 - Data types

Write code that creates a dictionary which lists all the data types in given list (You can, but do not have to, write this as a function). Make this as flexible as possible.

In [40]:
my_list = [True, 3, 3.14, 7, "two", "7", False, [1,2,3]]

In [44]:
tyty = []
bool_counter = 0
int_counter = 0
float_counter = 0
str_counter = 0
list_counter = 0

for i in my_list:
  if type(i) == bool:
    bool_counter += 1
  elif type(i) == int:
    int_counter += 1
  elif type(i) == float:
    float_counter += 1
  elif type(i) == str:
    str_counter += 1
  else:
    list_counter += 1

In [45]:
data_ty = {"bool" : bool_counter,
           "int" : int_counter,
           "str" : str_counter,
           "float" : float_counter,
           "list" : list_counter}

print(data_ty)

{'bool': 2, 'int': 2, 'str': 2, 'float': 1, 'list': 1}

## 5 - Duplicate elements

Write code that removes all duplicate elements from a list with a loop.

In [46]:
my_list = [2, 5, 17, 2, 13, 5, 11, 11, 13, 7, 2]

In [48]:
list_2 = []
for i in my_list:
  if i not in list_2:
    list_2.append(i)

print(list_2)

[2, 5, 17, 13, 11, 7]

## 6 - Set operations

Write code that takes two sets (lists) and returns one set which ...

1. is the union of the two lists (the union is the set of all elements contained in either set - no duplciated).
2. is the intersection of the two lists (the intersection is the set of all elements contained in both sets)
3. is the difference of the two lists (the difference is the first set with all elements removed that are also part of the second set).
4. is the symmetric difference of the two lists (the symmetric difference is the set of all elements contained in one of the two sets, but not both).

*Hint: If you are familiar with functions, code the four operations as functions, but you do not have to do that.*

In [49]:
set1 = ["black", "blue", "green", "red", "white", "yellow"]
set2 = ["beige", "black", "grey", "taupe", "white"]
set3 = ["beige", "brown", "orange", "red", "tan", "yellow"]
set4 = ["blue", "cyan", "green", "pink", "turquoise"]

In [50]:
#black = 1, blue = 2, green = 3, red = 4, white = 5, yellow = 6, beige = 7, grey = 8
#taupe = 9, brown = 10, orange = 11, tan = 12, cyan = 13, pink = 14, turq = 15
#set_1 = [1, 2, 3, 4, 5, 6]
#set_3 = [7, 10, 11, 4, 12, 6]
#set_2 = [7, 2, 8, 9, 5]
#set_4 = [2, 13, 3, 14, 15]

In [55]:
intersection = []

#intersection = in both sets
for i in set1:
  for x in set2:
    if i == x:
      intersection.append(i)
intersection

['black', 'white']

In [56]:
uni = []
uni_2 = []

#adding everything to a list
for i in set1:
  uni.append(i)
for x in set2:
  uni.append(x)

#removing duplicates
for i in uni:
  if i not in uni_2:
    uni_2.append(i)

uni_2

['black', 'blue', 'green', 'red', 'white', 'yellow', 'beige', 'grey', 'taupe']

In [57]:
difference = []

#difference = union - set
for i in uni_2:
  if i not in set1:
    del i
  else:
    difference.append(i)

difference

['black', 'blue', 'green', 'red', 'white', 'yellow']

In [58]:
symm_diff = []

#symm diff = union - intersection
for i in uni_2:
  if i in intersection:
    del i
  else:
    symm_diff.append(i)

symm_diff

['blue', 'green', 'red', 'yellow', 'beige', 'grey', 'taupe']

# 7 - Flat list

Take a list and flatten it using loops. A list is non-flat if it contains any other lists. To flatten the list, find these other lists, remove them from the original list but add all their elements to it.

*Hint: If you are familiar with functions, code this as functions, but you do not have to do that.*

In [59]:
my_list1 = [1, 2, [3, 6, 9, 12], [4, 8, 16], [5, 10, 15]]
my_list2 = [[1, 11], [2, [4, 6, [8, 10, 12]]], [3, 6, [9, 18]], [[[16]], [5, 10, [[15, 20]]]]]

In [66]:
normal = []

for i in my_list1:
  if type(i) == int:
    normal.append(i)
  elif type(i) == list:
    for x in i:
      normal.append(x)
  else:
    print("")
normal

[1, 2, 3, 6, 9, 12, 4, 8, 16, 5, 10, 15]

In [67]:
def flatten(my_list2):
    res = []
    for i in my_list2:
        if isinstance(i, list):
            res.extend(flatten(i))  # Recursively flatten nested lists
        else:
            res.append(i)  # Append individual elements
    return res

print(flatten(my_list2))

[1, 11, 2, 4, 6, 8, 10, 12, 3, 6, 9, 18, 16, 5, 10, 15, 20]