# Excercises: List comprehension - Solutions

## 0 - Number line

Create a list from 0 to 12 (included) with list comprehension.

In [1]:
numbers = [x for x in range(13)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

## 1 - Remainders

Use list comprehension to find the remainder of division by 7 for each number in the list.

In [2]:
numbers = [1, 2, 34, 567, 890, 98, 76, 543, 210, 12, 345, 57, 890]

In [3]:
remainder = [x%7 for x in numbers]
print(remainder)

[1, 2, 6, 0, 1, 0, 6, 4, 0, 5, 2, 1, 1]

## 2 - Multiples of 3

Create a list of all multiples of 3 between 1 and 100.

In [4]:
multiples_3 = [x for x in range(100) if x%3 == 0]
print(multiples_3)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

## 3 - Name length

Use list comprehension to create a new lists that contains the number of characters in each name below.

In [5]:
list_of_names = ["LeBron", "Giannis", "Luka", "Kevin", "Nikola", "Stephen", "Jimmy", "Joel", "Jayson", "Shai", "Kwahi"]

In [6]:
name_characters = [len(x) for x in list_of_names]
print(name_characters)

[6, 7, 4, 5, 6, 7, 5, 4, 6, 4, 5]

## 4 - Strings to integers

Use list comprehension to turn the list of strings below into a list of numbers.

In [7]:
list_of_strings = ["2", "3", "5", "7", "11", "13", "17", "19"]

In [8]:
str_to_int = [int(x) for x in list_of_strings]
print(str_to_int)

[2, 3, 5, 7, 11, 13, 17, 19]

## 5 - All even

Use list comprehension to remove all odd numbers from the list.

In [9]:
numbers = [1, 2, 34, 567, 890, 98, 76, 543, 210, 12, 345, 57, 890]

In [10]:
all_even = [x for x in numbers if x%2 == 0]
print(all_even)

[2, 34, 890, 98, 76, 210, 12, 890]

## 6 - No numbers

Use list comprehension to remove all numbers from the list. A number inside another list does not have to be removed.

In [11]:
mixed_list = [False, True, "two", 3, "four", 5, "six", ["VII", 8, "1001", "X"], 11]

In [12]:
no_numb = [x for x in mixed_list if isinstance(x, bool) or not isinstance(x, int)]
print(no_numb)

[False, True, 'two', 'four', 'six', ['VII', 8, '1001', 'X']]

## 7 - Three is the charm

Use list comprehension to create a list of all numbers between 1 and 100 that contain a 3 (i.e. this includes 43, for example).

In [13]:
all_3 = [x for x in range(0, 100) if "3" in str(x)]
print(all_3)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

## 8 - BnB

Use list comprehension to count the number of letters "b" (irrespective of capitalization) in the tongue twister "Betty Botter bought some butter, but she said the butter's bitter. If I put it in my batter, it will make my batter bitter."

In [16]:
tongue_twister = "Betty Botter bought some butter, but she said the butter's bitter. If I put it in my batter, it will make my batter bitter."

In [18]:
b_counter = [x for x in tongue_twister.lower() if "b" in x]
len(b_counter)

10

## 10 - N vwls

Use list comprehension to remove all vowels from the sentence.

In [20]:
python_zen1 = "Flat is better than nested. Sparse is better than dense."

In [21]:
vowels = ["a", "i", "o", "u", "e"]

n_vwls = [x for x in python_zen1 if x not in vowels]
new_sentence = "".join(n_vwls)
print(new_sentence)

Flt s bttr thn nstd. Sprs s bttr thn dns.

## 11 - Odd or even?

Use list comprehension to create a new list from `numbers` where the entry is "odd" if the number in `numbers` is odd and "even" otherwise.

In [22]:
numbers = [1, 2, 34, 567, 890, 98, 76, 543, 210, 12, 345, 57, 890]

In [23]:
odd_even = ["Odd" if x%2 != 0 else "Even" for x in numbers]
print(odd_even)

['Odd', 'Even', 'Even', 'Odd', 'Even', 'Even', 'Even', 'Odd', 'Even', 'Even', 'Odd', 'Odd', 'Even']

## 12 - Flipcase

Use list comprehension to make all lowercase letters uppercase and all uppercase letter lowercase.

In [24]:
python_zen2 = "SpEcIaL CaSeS ArEn'T SpEcIaL EnOuGh To BrEaK ThE RuLeS."

In [25]:
flipcase5 = [x.lower() if x.isupper() else x.upper() for x in python_zen2]
final = "".join(flipcase5)
print(final)

sPeCiAl cAsEs aReN't sPeCiAl eNoUgH tO bReAk tHe rUlEs.